*{
    margin: 0; 
    padding: 0;
    box-sizing:border-box;

}


body{
    width: 100%;
   min-height: 100vh;
}

p{
    color: red;
    text-transform: uppercase;
}

h2, h3,h4,h1{
    
 text-transform: capitalize;
 color: blue;
}